In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customers-100.csv")

In [3]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [24]:
df["Customer Id"][1]
df["Customer Id"][1:4]
df[["Customer Id", "Company"]][1:5].copy()

       Customer Id                          Company
1  1Ef7b82A4CAAD10                      Vega-Gentry
2  6F94879bDAfE5a6                    Murillo-Perry
3  5Cef8BFA16c5e3c  Dominguez, Mcmillan and Donovan
4  053d585Ab6b3159         Martin, Lang and Andrade

slecting rows by loc

In [31]:
df.loc[1]
df.loc[1]["Company"] #or we can also write
df.loc[1, "Company"]

'Vega-Gentry'

slicing by loc

In [32]:
df.loc[1:4, ["Company", "Customer Id"]]

                           Company      Customer Id
1                      Vega-Gentry  1Ef7b82A4CAAD10
2                    Murillo-Perry  6F94879bDAfE5a6
3  Dominguez, Mcmillan and Donovan  5Cef8BFA16c5e3c
4         Martin, Lang and Andrade  053d585Ab6b3159

selecting rows by iloc

In [38]:
df.iloc[1,2]

'Preston'

slicing by iloc

In [41]:
df.iloc[30:40, 1:4]

        Customer Id First Name Last Name
30  64DCcDFaB9DFd4e       Jack      Tate
31  679c6c83DD872d6        Tom  Trujillo
32  7Ce381e4Afa4ba9    Gabriel     Mejia
33  A09AEc6E3bF70eE    Kaitlyn   Santana
34  aA9BAFfBc3710fe      Faith      Moon
35  E11dfb2DB8C9f72     Tammie     Haley
36  889eCf90f68c5Da   Nicholas      Sosa
37  7a1Ee69F4fF4B4D     Jordan       Gay
38  dca4f1D0A0fc5c9      Bruce   Esparza
39  17aD8e2dB3df03D     Sherry     Garza

selecting by at and iat *for only a single element

In [46]:
df.at[2, "Company"]
df.iat[2,8]

'(496)978-3969x58947'

filtering by condition

In [58]:
# print(df[df['Index'] > 90])
print(df[(df['Index'] > 93) & (df['City'] == "Daisyborough")])

    Index      Customer Id First Name Last Name                      Company  \
94     95  BE91A0bdcA49Bbc    Darrell   Douglas  Newton, Petersen and Mathis

            City Country                Phone 1           Phone 2  \
94  Daisyborough    Mali  001-084-845-9524x1777  001-769-564-6303

                       Email Subscription Date             Website
94  grayjean@lowery-good.com        2022-02-17  https://banks.biz/

filtering by quary

In [61]:
df.query("Index > 93")
df.query("Index > 93 and City == 'Daisyborough'")

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,2022-02-17,https://banks.biz/